/*Estilos ccs*/

*{
	/*margin:0;*/
	padding:0;
}
a:hover{
	background-color:#ff0000;

}
body{ 
	background-image: url('../img/Snap1.png');
	  background-attachment:fixed;
	 }

header{
	
		background-size: cover;
}
section{
	color: #cc0000;
	
}
/*estilos por selector clase*/
.sectionP{
	font-family: 'Balsamiq Sans', cursive;
	color:aliceblue;
}
/*estilos por selector id*/
#fieldUno{
	color:#ff5200;
}

/*ESTILO MENU*/

#menuP{
	background-color:black;
	width:100%;
	height:20%;
	font-family: 'Balsamiq Sans', cursive;
	
}
#menuP ul{
	margin-left:70%;
	/*text-align:right;*/
	
}
#menuP ul li{
	display:inline-block;
	padding:2px;
}
#menuP ul li a{
	text-decoration:none;
	color: white;
	background-color:black;
	border-radius:0px;
}
#menuP ul li a:hover{
	color: black;
	background-color:yellow;

	
}

#ruby {
height:90%; 
width:30%;
margin-right: 0:;
display: block;
}
#hu{
	background:1f4068; 
	width: 800px;
}
footer{
	background-color: black;
	width: 98%;
	height: 15%;
	font-family: 'Roboto', Sans-serif;
	position: absolute;
	bottom: 0;
	display: inline-block;
	color: white;
}
footer nav h1{
	float: left;
	margin-left: 70px;
}
